<h1> Index Page</h1>

<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Gender</th>
		<th>Province</th>
		<th>Interest</th>
		<th>Biography</th>
		<th>Due_date</th>
		<th>Status</th>
	</tr>


	<% @surveys.each do |survey|%>
	<tr>		

		<!-- <td><%#= survey.user.full_name %></td>  -->
		<td><%= survey.id %></td>
		<td><%= survey.name %></td>
		<td><%= survey.gender %></td>
		<td><%= survey.province %></td>
		<td><%= survey.interest %></td>
		<td><%= survey.biography %></td>
		<td><%= survey.due_date %></td>
		<td><%= survey.status %></td>
		<td><%= link_to 'Edit', edit_survey_path(survey) %></td>
		<td><%= link_to 'Update', survey_path(survey) %></td>
		<td><%= link_to 'Delete', survey_path(survey),
		method: :delete,
		data: {confirm: 'Are you mad?'} %></td>					  
	</tr>
	<%end%>
</table>

<%= link_to 'New Form', new_survey_path %><br>
<%= link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure?'}  %><br>
<%= link_to 'New sign_up only for admin', new_user_path %><br>


